[*.cs]

# CS8632: Аннотацию для ссылочных типов, допускающих значения NULL, следует использовать в коде только в контексте аннотаций "#nullable".
dotnet_diagnostic.CS8632.severity = none

# CS1572: Комментарий XML содержит тег param, но параметр с таким именем не существует
dotnet_diagnostic.CS1572.severity = none

# CS1573: Параметр не имеет соответствующий тег параметра в комментарии XML (в отличие от остальных параметров)
dotnet_diagnostic.CS1573.severity = none
